@import 'mixins';
@import 'reset';

/* BORDER BOX ON EVERYTHING */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* ANTIALIAS ALL TEXT IN WEBKIT */

* {
    -webkit-font-smoothing: antialiased;
}

/* REMOVE BLUE/DOTTED BORDER ON FOCUSED ELEMENTS */

a, :focus {
    outline: 0;
}

/* CLEARFIX */

.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

/* CLEAR DIV FOR INLINE MARKUP CLEARING */

.clear {
	display:block;
	clear:both;
	height:0px;
}

/* GLOBAL SITE STYLES */

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.wrapper {
}