.banners_container {

	max-width: 1400px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;

	.banner_set_title {
		font-size: 17px;
		margin-bottom: 20px;
		font-weight: 800;
	}

	.banner_title {
		font-size: 12px;
		padding-top: 15px;
	}

	.banner {
		display: inline-block;
		margin: 0 8px 20px 8px;

		cursor: pointer;
	}

}

.lightbox {

	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	z-index: 5;

	background-color: rgba(0,0,0,0.6);

	.lightbox_iframe {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		background-color: #000;
		background-image: url('/app/assets/img/gears.gif');
		background-size: 62px 62px;
		background-position: center center;
		background-repeat: no-repeat;
	}

}